* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	background-color: #e0e0e0;
}

a {
	text-decoration: none;
	color: rgb(31, 29, 29);
	transition: 0.3s all ease;
}

a:hover {
	text-decoration: none;
	color: #f3f3f3;
}


nav {
	height: 60px;
	line-height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
    background-color: #353535;
    color: #fff;
}

footer {
	display: block;
	position: fixed;
	bottom: 0;
	justify-content: space-around;
}

.content {
	position: relative;
	top: 25px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.logo {
	font-size: 26px;
	text-transform: uppercase;
}

li {
	list-style: none;
}

.sim-list {
	background-color: #353535;
	width: 100%;
	border: 1px solid #f2f2f2;
	border-radius: 6px;
    padding: 5px;
    color: #fff;
}

.sim-item {
	position: relative;
	margin-bottom: 15px;
	border: 1px solid black;
	transition: all 0.3s ease;
	animation-name: showItemSlowly;
	animation-duration: 0.5s;
    padding: 5px;
    background-color: #353535;
    color: #fff;
}

.sim-item:hover {
	border-radius: 6px;
	border-color: #ffbd0a;
}

.sim-item span {
	font-size: 18px;
	font-weight: bold;
	transition: all ease 0.3s;
	cursor: default;
	text-transform: uppercase;	
}

.sim-item span:hover {
	color: #ffbd0a;
}

.sim-item-desc {
	color: rgb(151, 150, 150);
}

span > a > i {
    color: white;
}

.btn-cust {
	margin-top: 15px;
	margin-bottom: 10px;
	position: relative;
	right: 0;
	display: block;
	padding-left: 30px;
	padding-right: 30px;
}

.crossed-item {
	opacity: 0.5;
	text-decoration: line-through;
}

@keyframes showItemSlowly {
	from {opacity: 0; bottom: -50px;}
	to {opacity: 1; bottom: 0px;}
}


label {
	font-size: 12px;
	text-transform: uppercase;
}

.search-title {
    font-size: 24px;
    text-shadow: #7c6060;
}

.srch {
    width: 25%;
}

.Mage {
    color: #3fc7eb;
}
.Rogue {
    color: #fff468;
}

.DeathKnight {
    color: #c41e3a;
}

.DemonHunter {
    color: #a330c9;
}

.Druid {
    color: #ff7c0a;
}

.Hunter {
    color: #aad372;
}

.Monk {
    color: #00ff98;
}

.Paladin {
    color: #f48cba;
}

.Priest {
    color: #ffffff;
}

.Shaman {
    color: #0070dd;
}

.Warlock {
    color: #8788ee;
}

.Warrior {
    color: #c69b6d;
}